<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>About</h1>
        <p>Calorie Buddy is a dynamic web application aimed at users who wish to manage their diet. It works as a digital calorie counter to help you keep track of the important nutrients you eat. </p>
	      <p>To use the application, simply register with your email address and you're good to go! You can then explore the database of all the food items, add new ones and update the existing ones. If you decide to remove a certain food from your diet, you can simply delete it from Calorie Buddy, too. The best thing - you can easily get nutritional information about a custom meal by entering the amount of each ingredient and Calorie Buddy will provide you with all you need to know about what you're eating.</p>
	      <h5>Enjoy!</h5>
	      <p>If you have any questions, please refer to the developer of Calorie Buddy - Zala Sesko.</p>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>
