<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <center><h1>Deleted!</h1></center> <br>

        <p>You've successfully deleted <strong><%=name%></strong>.</p>
        <p>You can always add it back on the <a href="/addFood" class="text-info">Add Food</a> page.</p>

    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>
