<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
       	<center> <h1>Bye!</h1> </center>
	      <p>You are now logged out.</p>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>
